<!DOCTYPE html>
<html>
  <head>
    <title>The Bathroom Wall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar fixed-bottom navbar-dark bg-faded navbar-toggler">
      <div class="container">
        <!-- Icons -->
        <div class="icons-nav">
          home
          <%= link_to posts_path do %>
            <%= image_tag "sample-button.jpg" %>
          <% end %>
          post
          <%= link_to new_post_path do %>
            <%= image_tag "sample-button.jpg" %>
          <% end %>
          feed
          <%= link_to feed_path do %>
            <%= image_tag "sample-button.jpg" %>
          <% end %>
          Me
          <p class="card-text"><%= link_to current_user.username, user_path(current_user.username)%></p>
          
        </div>
        
    </div>
</nav>

    <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
      
        <hr>
        <center>
        
        </center>
      </div>
    </footer>
  </body>
</html>
